@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  color: black;
}
@keyframes slide-in {
  from {
    margin-left: -400px;
  }
  to {
    margin-left: 0px;
  }
}
.show {
  animation-name: slide-in;
  animation-duration: 1s;
}
